{% extends "base.html" %}

{% block content %}
<div class="bg-white/10 p-6 rounded-xl">
  <table class="w-full text-center border-collapse">
    <thead>
      <tr class="border-b border-white/30">
        <th>نام</th>
        <th>تعداد سانس</th>
        <th>بدهی (تومان)</th>
      </tr>
    </thead>

    <tbody>
      {% for name, info in debts.items() %}
      <tr class="border-b border-white/20">
        <td>{{ name }}</td>
        <td>{{ info.count }}</td>
        <!-- <td class="text-yellow-300 font-bold">{{ info.debt }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/" class="block mt-4 text-center text-green-300 underline">
    ⬅ بازگشت
  </a>
</div>
{% endblock %}
